/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  box-sizing: border-box;
}

/* .cover{
height: 80vh;
margin: 10vh 0px;
}
.logo{
width: 100vh;
height : 100%;
}
img{
width: 100vh;
margin : 15vh auto;
}
.header{
height: 130px;
padding-bottom: 1rem;
clip-path: polygon(
  0% 0%,
  100% 0%,
  100% calc(100% - 2rem),
  0% 100%
);
background-color: black;
color: white;
font-size: large;
text-align: center;
} */
.cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-content: center;
  /* padding: 20px; */
}

/* @media (max-width : 800px) {
  .cover {
    flex-direction: column;
  }

  .logo {
    /* flex: 10%; 
    column-width: 200px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }

  img {

    /* background-color: aqua; 
    align-content: center;
    /* margin : 0px; 
  }
} */

.logo {
  /* height: 80vh; */
  flex: 60%;
  /* float : left; */
  margin : 18vh 0px;
  /* background-color: black; */
}

.main {
  height: 80vh;
  flex: 40%;
  /* float : left; */
  margin-left: 5px;
  margin: 10vh 20px;
  background-color: #616161;
  flex-direction: column;
  justify-content: center;
  /* column-gap : 60px; */
}

img {
  margin: 0px auto;
  width: 100%;
  /* background-color: aqua; */
  /* margin: 15vh auto; */
}

.parentHeader {
  padding-bottom: 1.5rem;
  background-color: white;
  clip-path: polygon(0% 0%,
      100% 0%,
      100% calc(100% - 1.5rem),
      0% 100%);
  text-align: center;
  height: 125px;
  z-index: 5;
}

.header {
  width: 100%;
  position: relative;
  padding-bottom: 1.5rem;
  background-color: #212121;
  clip-path: polygon(0% 0%,
      100% 0%,
      100% calc(100% - 1.5rem),
      0% 100%);
  padding: 10px;
  text-align: center;
  height: 120px;
  z-index: 3;
  /* background-image: linear-gradient(to bottom right ,#0f0f0f,#333232); */
}

#logintext {
  color: white;
  font-size: 50px;
}

.main-inputs {
  padding: 5vh;
  margin : 10vh;
}

.field {
  color: white;
  font-size: 20px;
  margin: 4vh 30px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(209, 208, 208);
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  font-size: 20px;
  color: black;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 3px solid rgb(209, 208, 208);
}

.forgot {
  flex: 70%;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.loginbtn {
  flex: 30%;
  /* padding: 6px 0px; */
}

button {
  /* width : 90%;
background-color: black;
color: white;
border-radius: 15px;
border: none;
padding-bottom: 7px;
font-size: 20px;
height : auto; */
  background-color: #212121;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

button:hover {
  background-color: black;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: 5px 30px;
  /* padding: 20px 0px; */
}